@using Forms_MVP.ViewModel;
@model ChangePasswordModel;



@{
    ViewData["Title"] = "Change Password";

    Layout = "~/Views/Shared/AccountLayout.cshtml";

}


<div class="account_container">

    <div class="account-box">

        <h2 class="text-center mb-4">Change Password</h2>

        <form asp-action="changePassword" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">

                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control"  readonly/>
                
            </div>


            <div class="mb-3">

                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="mb-3">

                <label asp-for="ConfirmedNewPassword" class="form-label"></label>
                <input asp-for="ConfirmedNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmedNewPassword" class="text-danger"></span>
            </div>




            <input type="submit" value="Submit" asp-controller="Account"  class="btn btn-success w-100 p-2" />

            <div class="text-center mt-2">



                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none mt-2">Back to Home </a>

                <div class="text-center"></div>

            </div>







        </form>

    </div>


</div>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}