@using Forms_MVP.ViewModel;
@model LoginViewModel;




@{
    ViewData["Title"] = "Login";

    Layout = "~/Views/Shared/AccountLayout.cshtml";

}


<div class="account_container">

    <div class="account-box">

        <h2 class="text-center mb-4">Login Page</h2>

        <form asp-action="Login" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">

                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="mb-3">

                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="float-end">

                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">Forgot Password?</a>
            </div>


            <div>
                <label class="form-check-label">

                    <input asp-for="RememberMe" class="form-check-label mb-4" />
                    @Html.DisplayNameFor(a => a.RememberMe)

                </label>

            </div>

            <input type="submit" value="Login" class="btn btn-success w-100 p-2" />

            <div class="text-center mt-2">


                <p class="text-center mt-2">Don't have a Account? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Create Account</a></p>

                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-2">Back to Home </a>

                <div class="text-center"></div>

            </div>







        </form>

    </div>


</div>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}